@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');
@font-face {
  font-family: porlane;
  src: url("/fonts/porlane/Porlane.ttf")
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 200;
  background-color: #f0efeb;
}

h1 {
font-family: porlane;
text-transform: uppercase;
font-size: 30rem;
}

h2 {
  font-family: porlane;
  text-transform: uppercase;
  font-size: 10rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 900;
}

a{
  text-decoration: none;
}

/*--------------NAVBAR-----------------*/

/*
green color: #e5ff73 // rgba(229, 255, 115, 255) // soft: #e9ff7f
back-color: #131313
purple-color: #d2c2ee
white-color: #f0efeb*/

img.logo {
  width: 3.5rem;
  margin: 3rem 2rem 0 2rem;
}

.header-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #131313;
  height: 50px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(29, 29, 29);
  position: absolute;
  height: 1px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgb(29, 29, 29);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 3rem 2rem 0 2rem;
  padding: 0;
  box-sizing: border-box;
}

.menu>li {
  margin: 0 0.3rem;
  padding: 0.5rem;
  overflow: hidden;
}

.menu>li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #131313;
  font-weight: 200;
}

.menu>li a:hover {
  color: #d2c2ee;
  font-weight: 500;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    margin: 2rem 2rem 0 0;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e5ff73;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    height: 2.5rem;
    padding: 0.5rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    background-color:#e5ff73;
  }

  .menu>li a {
    color: #131313;
    padding: 0.5rem 0;
  }
}

/*--------------INDEX-----------------*/

/*
green color: #e5ff73 // rgba(229, 255, 115, 255) // soft: #e9ff7f
back-color: #131313
purple-color: #d2c2ee
white-color: #f0efeb*/

.main-index{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.index-container {
  display:flex;
  align-items: flex-end;
}

.title-index {
  color: #131313
}

.title-index:hover::first-letter {
color: #e5ff73;
}

.subtitle-index{
  padding-bottom: 6rem; 
}

.subtitle-index a {
  color: #d2c2ee;
  font-weight: 500;
}

.subtitle-index a:hover {
  color: #131313;
}

/*--------------LIST-PAGE-----------------*/

.main-list-page {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  justify-content: center;
  gap: 2rem
}

.dron-image-container img{
  width: 30rem;
}

.info-dron-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1.3rem
}

.info-container {
  display: flex;
  align-items: center;
  gap: 1rem
}

.buttons-info-container {
  display: flex;
}

.dron-info {
  font-size: 1.1rem;
}

.separator {
  font-size: 2rem;
  font-weight: 400;
  color:#d2c2ee
}

.buttons-info-container {
  display: flex;
  gap: 1.5rem
}

.buttons-info-container button {
  border: none;
  padding: 1rem 2rem;
  color: #131313;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

.buttons-info-container button a {
  color: #131313;
}

.button-click {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-click:before {
  content: "";
  background: linear-gradient(45deg,
      #e5ff73,
      #d2c2ee
      );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-click 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-click {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-click:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0efeb;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*--------------FORM-CREATE-PAGE-----------------*/

.editing-new-title {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  color: #131313
}

.form-container {
  margin: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.form-body {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

input {
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #222;
  background-color: #f0efeb;
  font-family: 'Manrope', sans-serif;
}

input:focus {
  color: #d2c2ee;
  outline: 2px solid #e5ff73;
}

.form-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem
}

.form-button button {
  color: #131313;
  font-family: 'Manrope', sans-serif;
}